<mat-card>

  <mat-toolbar color="primary" routerLinkActive>
    Pacientes Cadastrados
    <button mat-flat-button class="rigtbutton" (click)="voltaPagina()">Voltar</button>
    <button mat-raised-button [routerLink]="['cadastro']" routerLinkActive="router-link-active"  >Adicionar</button>
  </mat-toolbar>

  <div *ngIf="show">
    <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">

      <!-- Coluna nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.nome }} </td>
      </ng-container>

      <!-- Coluna cpf -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.cpf}} </td>
      </ng-container>

      <!-- Coluna cpf -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.telefone}} </td>
      </ng-container>

      <!-- Coluna data de nascimento -->
      <ng-container matColumnDef="dtNascimento">
        <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.dtNascimento}} </td>
      </ng-container>

      <!-- Coluna endereço -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.endereco}} </td>
      </ng-container>

      <!-- Coluna Data de Criacao-->
      <ng-container matColumnDef="dtCriacao">
        <th mat-header-cell *matHeaderCellDef> Data Criação </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.dtCriacao }} </td>
      </ng-container>

      <!-- Coluna de ações -->
      <ng-container matColumnDef="acoes">
				<th class="colum" mat-header-cell *matHeaderCellDef> Ações </th>
				<td mat-cell *matCellDef="let agendamento">
					<button mat-icon-button color="primary" >
						<mat-icon>edit</mat-icon>
					</button>

					<button mat-icon-button color="warn">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spiner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

